{% extends "templates/web.html" %}

{% block page_content %}
<div class="card" style="width: 18rem;">
    {% if vehicle_image %}
        <img src="{{ vehicle_image }} "  alt="{{ title }}"/>
    {% else %}
        <p>No Image</p>
    {%endif%}
    <div class="card-body">
        <h2 class="card-title">{{ title |e }}</h2>
        <p class="card-text">Color: {{color}}</p>
        <a class="btn btn-info" href="/order-a-ride/new?vehicle={{name}}">Book it Now</a>
    </div>
</div>
{% endblock %}

<!-- this is a sample default web page template -->